<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papco.sundar.papcortgs">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <service
            android:name=".screens.sms.SmsService"
            android:exported="false" />
        <service
            android:name=".screens.mail.EmailService"
            android:exported="false" />

        <activity android:name=".screens.transactionGroup.GroupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".screens.sender.SenderActivity"
            android:parentActivityName=".screens.transactionGroup.GroupActivity" />
        <activity
            android:name=".screens.receiver.ReceiverActivity"
            android:parentActivityName=".screens.transactionGroup.GroupActivity" />
        <activity
            android:name=".screens.transaction.common.TransactionActivity"
            android:parentActivityName=".screens.transactionGroup.GroupActivity" />
        <activity
            android:name=".screens.sms.ActivitySMS"
            android:parentActivityName=".screens.transaction.common.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.backup.ActivityDropBox"
            android:parentActivityName=".screens.transactionGroup.GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.mail.ActivityEmail"
            android:parentActivityName=".screens.transaction.common.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <data android:scheme="db-i2owryva8qyt10c" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.sms.ActivityComposeMessage"
            android:screenOrientation="portrait" />

    </application>

</manifest>